<div class="jumbotron">
  <p>Pomona, CA</p>
  <h1 class="display-4"><%= @currentTemp %>째</h1>
  <p class="lead">Feels like <%= @feelsLikeTemp %>째</p>
  <p class="lead">High/Low: <%= @highTemp %>째/<%= @lowTemp %>째</p>
</div>

